:root {
    --backColor: #000;
    --fontColor: #21E1DA;
}

body {
    background-color: var(--backColor);
    color: var(--fontColor)
}

.Introduction {
    color: var(--fontColor);
}

#podcraft {
    height: 20vh;
    border: solid white;
}

button {
    background-color: var(white);
    border-radius: 50px;
    border: none;
    padding: 10px;
    font-size: 20px;
}

footer {
    display: flex;
   justify-content:end;
}